%li.procedure_selector
  = link_to body_subjectgroup_procedures_path( @body, subjectgroup ), class: 'preview' do
    = image_tag 'sym/angle_right_s50.svg', class: 'arrow_icon'
    .count.vignette= subjectgroup.count
    .status= subjectgroup.title
  

