- h_title "Bestätigungslink gesendet"
- h_description 'Meine Besucher-Seite'
- h_titlebar_text 'Link gesendet'


.small_content
  %h4 Link zur Bestätigung gesendet
  %p
    Bitte schauen Sie in Ihrem E-Mail Postfach oder im Spam-Filter.
  

