- h_title 'Folgeauftrag best채tigen'
- h_titlebar_icon 'back_arrow', @follow.entity
- h_titlebar_text 'Folgeauftrag best채tigen'

.small_content
  %p
    Wir haben Ihnen eine
    %strong E-Mail Best채tigung
    gesendet.
    %br
    Bitte klicken Sie dort auf den Best채tigungslink.
  
  %p
    Vielen Dank...
  

