- h_title 'Ihre Stimme'
- h_titlebar_icon 'back_arrow', @procedure
- h_titlebar_text 'Ihre Stimme'

.entity_form
  %h4 Abstimmung noch nicht geöffnet
  %p
    Der Zeitpunkt zur Abstimmung ist
    %strong noch nicht erreicht.
    Im Moment läuft nur die Debatte dazu.
  
  %p
    Die Abstimmung ist
    %strong
      ab dem
      =l @procedure.vote_date_at
    möglich.
  
  - if current_visitor? and !@follow.new_record?
    %p
      Sie werden
      %strong bei Abstimmungsstart
      benachrichtigt.
    
  - else
    %p
      Um über Neuigkeiten und
      %strong bei Abstimmungsstart benachrichtigt
      zu werden, geben Sie bitte Ihre E-Mail Adresse ein.
    
    = render 'follows/form'
    
    .form_cancel
      = link_to 'Abbrechen', @procedure, class: 'button cancel'
    
  

