// Place all the styles related to the Bodies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

$section_border_color: black;

// ---------------------------------------------

.bodies_list {
  .preview {
    .infos {
      margin: 0.5rem 0;
      text-align: right;
    }
  }
  
  .selected {
    background-color: $background_color;
    
    .title,
    .description {
      color: $weak_text_color;
    }
  }
}

.page_bodies_index {
  section.procedures {
    display: none;
  }
}
.page_bodies_show {
  section.bodies {
    display: none;
  }
}
@media (min-width: $width_two_columns) {
  .page_bodies_index,
  .page_bodies_show {
    background-color: $accented_back_color;
    
    section.bodies {
      display: block;
      position: absolute;
      top: 2.5rem;
      left: 0;
      bottom: 0;
      width: 50%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    section.procedures {
      display: block;
      position: absolute;
      top: 2.5rem;
      right: 0;
      bottom: 0;
      width: 50%;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: $background_color;
      border-left: 1px solid $section_border_color;
      
      .procedures_list {
        li {
          width: 100%;
        }
      }
    }
  }
  .page_bodies_show {
    section.body {
      display: none;
      
      &.bundestag {
        display: block;
        background-color: $background_color;
      }
    }
  }
}
@media (min-width: $width_three_columns) {
  .page_bodies_index,
  .page_bodies_show {
    section.bodies {
      width: 33.33%;
    }
    section.procedures {
      left: 33.33%;
      width: 66.66%;
      
      .procedures_list {
        li {
          width: 50%;
        }
      }
    }
  }
}
@media (min-width: $width_four_columns) {
  .page_bodies_index,
  .page_bodies_show {
    section.bodies {
      width: 25%;
    }
    section.procedures {
      left: 25%;
      width: 75%;
      
      .procedures_list {
        li {
          width: 33.33%;
        }
      }
    }
  }
}
@media (min-width: $width_five_columns) {
  .page_bodies_index,
  .page_bodies_show {
    section.bodies {
      width: 20%;
    }
    section.procedures {
      left: 20%;
      width: 80%;
      
      .procedures_list {
        li {
          width: 25%;
        }
      }
    }
  }
}
