// Place all the styles related to the Procedures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

$date_color: $orange;

// ---------------------------------------------

.deals_list {
  .deal_info {
    @include clearfix;
    padding: 0.5rem 0.75rem 0;
    
    .deal_date {
      color: $date_color;
      font-weight: bold;
    }
    .action {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .deal_url {
      display: block;
      clear: both;
    }
  }
  
  .preview {
    @include clearfix;
    
    .text {
      clear: both;
      max-width: 40rem;
      max-height: 11rem;
      overflow: hidden;
      text-overflow: ellipsis;
      
      title {
        font-size: 1rem;
      }
    }
    .infos {
      @include clearfix;
      margin-top: 0.5rem;
      
      .date {
        float: left;
        width: auto;
      }
      .fav_display {
        float: right;
        width: auto;
      }
      .proc_current_status {
        float: left;
        width: auto;
        margin-top: 0;
      }
      .arguments_vignette {
        margin-top: 0.2rem;
      }
    }
  }
}
@media (min-width: $more_than_smartphone) {
  .deals_list .deal_info {
    padding: 1rem 1.5rem 0;
  }
}
@media (min-width: $width_two_columns) {
  .deals_list {
    @include clearfix;
    
    li {
      float: left;
      width: 50%;
      height: 24.5rem;
      border-top: 1px solid $border_color;
    }
    
    .entity_action_new {
      padding: 1.5rem;
      
      .help {
        display: inherit;
      }
    }
    .deal_info {
      height: 5.5rem;
    }
    .preview {
      padding: 1.5rem;
      overflow: hidden;
      
      .text {
        max-height: 13rem;
        
        title {
          font-size: 1.19rem;
        }
      }
    }
  }
}
@media (min-width: $width_three_columns) {
  .deals_list li {
    width: 33.33%;
  }
}
@media (min-width: $width_four_columns) {
  .deals_list li {
    width: 25%;
  }
}
@media (min-width: $width_five_columns) {
  .deals_list li {
    width: 20%;
  }
}
