// Place all the styles related to the Exports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'constants';

// ---------------------------------------------


.embed_code {
  padding: 0.25rem 0.5rem;
  background-color: white;
  border: 1px solid rgba( 0,0,0,0.25 );
  font-family: $code-font-family;
  font-size: 1.19rem;
  font-weight: bold;
  overflow: hidden;
}
