.title
  Crowd-moderierte Pro/Contra Mitwirkungsforen für den Bundestag

%p
  bundestag.teilt-mit.de ermöglicht
  %strong jedem Menschen,
  selbst
  = link_to 'Mitwirkungsforen', bodies_path
  zu konkreten Vorhaben oder Themen des Bundestags zu eröffnen.

