.title
  Crowd-moderierte Pro/Contra Mitwirkungsforen für Alle

%p
  teilt-mit.de ermöglicht
  %strong jedem Menschen,
  selbst
  = link_to 'Mitwirkungsforen', bodies_path
  zu konkreten Vorhaben oder Themen zu eröffnen.

