.title
  Crowd-moderated Pro/Contra Participation Forums for Everyone

%p
  notifies.eu enables
  %strong every human
  to open
  = link_to 'participation forums', bodies_path
  for concrete procedures on their own.

