- h_title 'Ihre Stimme'
- h_titlebar_icon 'back_arrow', @procedure
- h_titlebar_text 'Ihre Stimme'

.entity_form
  %h4 Es kann los gehen
  %p
    Wir haben Ihnen einen Abstimmungslink an diese E-Mail Adresse gesendet:
    %br
    %strong= @receipt.visitor.email
  
  %br

