.help_separator#why

.help_page
  %h4
    Was ist Crowd-Moderation?
  
  %p
    Wenn viele Menschen Beiträge zu strittigen Themen schreiben, bleibt es nicht aus, dass dabei vom Thema abgekommen wird oder sogar Beleidigungen und Hetze entstehen.
  
  %p
    %strong Alle entscheiden
  
  %p
    Crowd-Moderation bedeutet, dass es hier kein Schiedsrichter-Team gibt, das über gute oder böse Inhalte entscheidet.
  
  %p
    Wir senden
    %strong jeden neuen Beitrag
    an MitwirkerInnen, die jedes Mal neu zufällig ausgewählt werden. Diese entscheiden dann in einer Abstimmung, ob der Beitrag
    %strong zur Veröffentlichung geeignet
    ist oder nicht.
  
  %p
    %br
    = link_to 'Loslegen', bodies_path, class: 'button'
  

