.help_separator#why

.help_page
  %h4
    What is crowd-moderation?
  
  %p
    When a crowd of people write postings about controversial issues, off topic posts or even insults and slander are unfortunately unavoidable.
  
  %p
    %strong Everyone decides
  
  %p
    Crowd-moderation means: There is no team of arbitrators deciding what is good or bad content.
  
  %p
    We send
    %strong every new post
    to members that are selected randomly each time. They cast a vote which
    %strong decides if
    the post will go public or not.
  
  %p
    %br
    = link_to "Let's go", bodies_path, class: 'button'
  

