%li.accordion-item{ 'data-accordion-item': true }
  = link_to 'Technische Merkmale der Software', '#', class: 'accordion-title'
  .accordion-content{ 'data-tab-content': true }
    %h4 Technische Merkmale der Software
    %p
      Die Software wird mit dem
      = link_to 'Framework RubyOnRails', 'http://rubyonrails.org', target: '_blank'
      entwickelt. Sie wird 체ber einen modernen Internet-Browser mobile und station채re Ger채te unterst체tzen.
    
    %p
      Eine Instanz der Online-Plattform wird auf einem Server in Deutschland betrieben und durch Spenden finanziert.
    
  

