%li.accordion-item{ 'data-accordion-item': true }
  = link_to 'Zweck der Online-Plattform', '#', class: 'accordion-title'
  .accordion-content{ 'data-tab-content': true }
    %h4 Zweck der Online-Plattform
    %p
      Die zu entwickelnde Software soll die Ratsarbeit vereinfachen, transparent machen und für Mitwirkung öffnen. Diese Öffnung soll dem Zweck dienen, informiertere, ausgewogenere, besser kommunizierte und akzeptierte Entscheidungen zu fördern. Damit soll allgemein die Mitwirkung und Akzeptanz der Demokratie gefördert werden.
    
    %p
      Jedes politische Gremium, das die Software einsetzen möchte, kann sich bei der Einführung konzeptionell und logistisch beraten oder schulen lassen zu einem Umfang, der selbst festgelegt werden kann. Der Grad der Transparenz und Beteiligung kann selbst festgelegt werden, ob nun einzelne Entscheidungen oder alle, ob nur zur Information oder zur Mitwirkung.
    
    %p
      Die Software wird OpenSource sein, also quelloffen und gemeinnützig frei verwendbar. Für eine möglichst einfache Verwendung werde ich die Software online auf einem gesicherten Server anbieten. Zudem biete ich ein fertig konfiguriertes System für den Inhouse-Einsatz hinter Firewalls an, wenn gewünscht.
    
  

