.help_separator#participation_private

.help_page
  %h4
    Mitwirkung privat
  
  %p
    Zum Beispiel soll in deiner Familie
    %strong gemeinsam entschieden
    werden, wohin ihr in den nächsten Ferien fahren wollt.
  
  %p
    Ein Mitwirkungsforum kann euch dabei helfen, verschiedene
    %strong Vorschläge aufzuschreiben
    und
    %strong übersichtlich zu sammeln,
    was für oder was gegen die Vorschläge spricht. Auch Details zu jedem Vorschlag können notiert werden.
  
  %p
    %strong Mitwirkung macht Entscheidungen einfach
  
  %p
    Am Schluss lässt sich ganz leicht von allen gemeinsam eine Entscheidung treffen.
  
  %p
    Wenn es sein muss, sogar geheim.
  
  .link_list
    = link_to 'Ein Beispiel ansehen&nbsp;&rarr;'.html_safe, '/info/example_private#example_private'
    = link_to 'Wie geht das konkret?&nbsp;&rarr;'.html_safe, '/info/intro_private#intro_private'
  
  %p
    %br
    = link_to 'Loslegen', new_procedure_path, class: 'button'
  

