.help_separator#participation_private

.help_page
  %h4
    Participation - private life
  
  %p
    Example: Your family wants to
    %strong decide together
    where to spend the next vacation...
  
  %p
    An input forum can help you to
    %strong note down
    the various suggestions and
    %strong sort pro and con arguments
    neatly..
  
  %h5 Input eases decisions
  
  %p
    In the end a decisions can be made easily by all participants.
  
  %p
    If necessary this can happen anonymously.
  
  .link_list
    = link_to 'Show me an example&nbsp;&rarr;'.html_safe, '/info/example_private#example_private'
    = link_to 'How does it work?&nbsp;&rarr;'.html_safe, '/info/intro_private#intro_private'
  
  %p
    %br
    = link_to 'Do it', new_procedure_path, class: 'button'
  

