- h_title 'Regeln für akzeptierte Beiträge'
- h_description 'Welche Beiträge wir für eine Veröffentlichung akzeptieren, haben wir auf dieser Seite zusammengefasst.'
- h_titlebar_text 'Regeln Veröffentlichung'

.main_content
  %h3 Regeln für akzeptierte Beiträge
  %p
    Nachfolgend finden Sie unsere Kriterien für veröffentlichenswerte Beiträge.
  
  %p
    %em folgen noch...
  

