- h_title 'Mitwirkung bei der Arbeit'
- h_titlebar_text 'Einführung'

= render 'application/help'
= render 'info/why'

.help_separator#participation_work

.help_page
  %h4
    Mitwirkung bei der Arbeit
  
  %p
    Auch bei der Arbeit können alle Kolleginnen und Kollegen von gemeinsam getroffenen Entscheidungen profitieren.
  
  %p
    Ob es beispielsweise die Wahl des neuen Getränkelieferanten betrifft oder Entscheidungen in wichtigen Projekten:
    %strong gemeinsame Mitwirkung erleichtert die Entscheidungsfindung.
  
  %p
    Die Möglichkeit zur
    %strong anonymen Abstimmung senkt außerdem die Hemmschwelle
    zur Beteiligung.
  
  %p
    %br
    = link_to 'Loslegen', new_procedure_path, class: 'button'
  

