%h4 Wir haben Ihnen eine E-Mail gesendet
%p
  %strong= @account.email
  %br
  An diese Adresse haben wir einen Link und Hilfe zur Neusetzung Ihres Kennworts gesendet.

%p
  Bitte schauen Sie evtl. auch in Ihrem Spam-Ordner nach.

